<%= render "navbar" %>

<div class="container">
<div class="headline">
  <h4><%=@list.name %></h4>
  <div>
  <button id="button"><%= link_to "Back to lists", lists_path %></button>
   <button id="button"><%= link_to "Add movie", new_list_bookmark_path(@list) %></button>
   </div>
  </div>
  <div id="card-lists">
     <% @list.bookmarks.each do |bookmark|%>
     <div class="card-trip">
       <img src="https://image.tmdb.org/t/p/original<%=bookmark.movie.poster_url%>">
        <div class="card-trip-infos-movie">
          <h5><strong><%= bookmark.movie.title%></strong></h5>
          <p> <%=bookmark.movie.overview%></p>
          <p><i class="fa-solid fa-quote-left"></i> <%=bookmark.comment%></p>
          <%# <%= link_to "Remove from list", delete_path(bookmark) %>
        </div>
    </div>
   <% end %>
   </div>

</div>
